<md-button ng-click="load('vendors')">
    <md-icon aria-label="search" class="material-icons">search</md-icon>
    Search Orders
</md-button>
<md-divider ></md-divider>
<div flex>
    <table md-table ng-model="orders" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
            <th md-column md-order-by="nameToLower" style="width:2%;">
                <span>Order</span>
            </th>
            <th md-column style="width:5%;"><span>ScheduleAt</span></th>
            <th md-column md-text style="width:5%;">Status</th>
            <th md-column md-text style="width:20%;">Delivery Address</th>
        </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="(index,order) in orders | orderBy: '-id'">
<!--                <td md-cell><a href="#" ng-click="go(order)">{{order.id}}</a></td>-->
                <td md-cell><a href="#" ui-sref="app.user.order({usertype:'employee',userid:{{user.id}},orderid:{{order.id}}})" > {{order.id}}</a></td>
                <td md-cell>{{order.scheduleAt || "N/A"}}</td>
                <td md-cell>{{order.status || "N/A"}}</td>
                <td md-cell>{{order.deliveryAt.formattedaddress || "N/A"}}<br>Phone: {{order.deliveryAt.phone || "N/A"}}</td> 
            </tr>
        </tbody>
    </table>
</div>