<md-button ng-click="showNewVendorDialog()">
    <md-icon aria-label="add_box" class="material-icons">add_box</md-icon>
    New Vendors
</md-button>
<md-button ng-click="load('vendors')">
    <md-icon aria-label="search" class="material-icons">search</md-icon>
    Search Vendors
</md-button>
<md-divider ></md-divider>
<md-button ng-click="showNewForm()" ng-show="isvendor">
    <md-icon aria-label="add_box" class="material-icons">add_box</md-icon>
    New Product {{$scope.isvendor}}
</md-button>
<md-divider ></md-divider>

<div flex layout-wrap>
    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table ng-model="products" md-progress="promise" style="min-width:820px;">
            <thead md-head md-order="query.order" md-on-reorder="onReorder">
            <tr md-row>
                <th md-column md-order-by="nameToLower" style="width:50%;">
                    <span>
                            Vendor Name
                    </span>
                </th>
                <th md-column style="width:5%;"><span>City</span></th>
                <th md-column md-numeric style="width:5%;">Phone</th>
                <th md-column md-numeric style="width:15%;">&nbsp;</th>
            </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-auto-select  ng-repeat="(index,vendor) in vendors | orderBy: '-id'">
                <td md-cell><a ui-sref="vendor({vendorid:{{vendor.id}}})">{{vendor.name}}</a></td>
                <td md-cell>{{vendor.city || "N/A"}}</td>
                <td md-cell>{{vendor.phone|| "N/A"}}</td>
                <td md-cell><a href="#">Orders</a> <a href="#">Inventory</a></td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</div>