<div class="md-toolbar-tools">
    <span>
        <div style="font-size:10pt;color:rgba(0, 0, 0, 0.57)">Employee Name</div>
        <h3>
            <span>{{employee.name}}</span>
        </h3>
    </span>
    <span flex></span>
    <md-button ng-click="edit(employee)" ng-hide="detailineditmode">
        <md-icon aria-label="edit" class="material-icons">edit</md-icon> Edit
    </md-button> 
    <md-button ng-click="save(selectedEmployee)" ng-if="detailineditmode">
        <md-icon aria-label="edit" class="material-icons">edit</md-icon> Save
    </md-button>
    <md-button ng-click="cancel()" ng-if="detailineditmode">
        <md-icon aria-label="cancel" class="material-icons">cancel</md-icon> Cancel
    </md-button>     
    <md-button class="md-icon-button" aria-label="Call">
        <md-icon  aria-label="call" class="material-icons" style="">call</md-icon>
        <md-tooltip md-direction="bottom">
            Call: {{employee.primary.phone}}
        </md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Email">
        <md-icon  aria-label="email" class="material-icons">email</md-icon>
        <md-tooltip md-direction="bottom">
            Email: {{employee.primary.email}}
        </md-tooltip>
    </md-button>
</div>
<md-divider ></md-divider>
<md-content layout-padding>
    <div ng-if="!detailineditmode">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Street Address</label>
                <input ng-model="employee.primary.addressline1" readonly>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Suite/Apt/Unit</label>
                <input ng-model="employee.primary.addressline2" readonly>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>City</label>
                <input ng-model="employee.primary.city" readonly>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Category</label>
                <input ng-model="employee.primary.country" readonly>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Zipcode</label>
                <input ng-model="employee.primary.zipcode" readonly>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone</label>
                <input ng-model="employee.primary.phone" readonly>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input ng-model="employee.primary.email" readonly>
            </md-input-container>
            
        </div>
    </div>
    <form name="editSelectedEmployee" ng-if="detailineditmode">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Street Address</label>
                <input ng-model="selectedEmployee.primary.addressline1" >
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Suite/Apt/Unit</label>
                <input ng-model="selectedEmployee.primary.addressline2" >
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>City</label>
                <input ng-model="selectedEmployee.primary.city" >
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Category</label>
                <input ng-model="selectedEmployee.primary.country" >
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Zipcode</label>
                <input ng-model="selectedEmployee.primary.zipcode" >
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone</label>
                <input ng-model="selectedEmployee.primary.phone" >
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input ng-model="selectedEmployee.primary.email" >
            </md-input-container>            
        </div>
    </form>
</md-content>